In [8]:
# impor libray yang diperlukan
import pandas as pd

In [38]:
# baca data
data_film = pd.read_csv('data/IMDB-Movie-Data.csv')
data_film.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [39]:
# info mengenai data
data_film.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [41]:
# hapus atribut yang tidak relevan

att_tdk_relevan = ['Rank', 'Director', 'Actors', 'Runtime (Minutes)', 'Revenue (Millions)', 'Metascore' ]
data_film = data_film.drop(att_tdk_relevan, axis=1)
data_film

,Title,Genre,Description,Year,Rating,Votes
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,2014,8.1,757074
1,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",2012,7.0,485820
2,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,2016,7.3,157606
3,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",2016,7.2,60545
4,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,2016,6.2,393727
...,...,...,...,...,...,...
995,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",2015,6.2,27585
996,Hostel: Part II,Horror,Three American college students studying abroa...,2007,5.5,73152
997,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,2008,6.2,70699
998,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,2014,5.6,4881
999,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,2016,5.3,12435

In [42]:
data_film.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1000 non-null   object
 1   Genre        1000 non-null   object
 2   Description  1000 non-null   object
 3   Year         1000 non-null   int64
 4   Rating       1000 non-null   float64
 5   Votes        1000 non-null   int64
dtypes: float64(1), int64(2), object(3)
memory usage: 47.0+ KB

In [43]:
# dijadikan ke file csv baru
data_film.to_csv('data/data_film.csv')